process{
  withLabel:high_mem{
    cpus = 8
    time= '12:00:00' 
    memory = '250.GB' 
    maxRetries = 2
    clusterOptions = '-q batch'
    errorStrategy = 'retry' 
  }
  withLabel:const_mem{
    cpus = 8
    time = '12:00:00'
    memory = '350.GB'
    clusterOptions = '-q batch'
  }
  withLabel:long_run{
    cpus = 1
    time = '48:00:00'
    memory = '50.GB'
    clusterOptions = '-q batch'
  }
  withLabel:single_cpu{
    maxForks = 10
    cpus = 1
    time = '12:00:00'
    memory = '100.GB'
    clusterOptions = '-q batch'
    maxRetries = 3
    errorStrategy = 'retry'
  }
  withLabel:eutils{
    container = 'quay.io/biocontainers/entrez-direct:13.9--pl526h375a9b1_1'
    maxForks = 10
  }
  withLabel:blast{
    container = 'quay.io/biocontainers/blast:2.10.1--pl526he19e7b1_3'
  }
  withLabel:ete3{
    container = 'quay.io/biocontainers/ete3:3.1.2'
  }
  withLabel:biopython{
    container = 'quay.io/biocontainers/biopython:1.78'
  }
  withLabel:mafft{
    container = 'quay.io/biocontainers/mafft:7.475--h516909a_0'
  }
}
executor.$slurm.queueSize = 200
executer.$slurm.submitRateLimit = '1 / 1 s'
profiles {
  standard {
    process.executor = "local"
  }
  slurm {
    process.executor = "slurm"
    process.queue = "compute"
    process.clusterOptions = '-q batch'
    process.module = "slurm"
    process.cpus = 1
    process.time = '2:00:00'
    process.memory = '20 GB'
    process.beforeScript = 'module load singularity'
    process.maxRetries = 3
    process.errorStrategy = 'retry'
  }
  pbs {
    process.executor = "pbs"
    process.queue = "batch"
  }
  singularity {
    process.module = 'singularity'
    singularity.enabled = true
    singularity.autoMounts = true
  }
  conda {
    process.conda = "$baseDir/environment.yml"
  }
       
}
